/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make link underlines more readable */
a {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  --clr-accent: #cb552f;
  --clr-body-text: #2f2f2f;
  --clr-grey-1: #f8f8f8;
  --clr-grey-5: #c4c4c4;
  --clr-grey-8: #767676;
  --clr-background: #ffffff;
  --fs-h1: 4.8rem;
  --fs-h2: 2.4rem;
  --fs-h3: 2rem;
  --fs-wordmark: 2rem;
  --fs-preamble: 2.2rem;
  --fs-body-text: 1.8rem;
  --fs-small-text: 1.4rem;
}

html.dark-theme {
  --clr-accent: #ea8969;
  --clr-body-text: #ffffff;
  --clr-grey-1: #212121;
  --clr-grey-5: #353535;
  --clr-grey-8: #8d8d8d;
  --clr-background: #121212;
}

body {
  background: var(--clr-background);
  color: var(--clr-body-text);
  font-family: "Hind", sans-serif;
  font-size: var(--fs-body-text);
  font-weight: 300;
}

h1,
h2 {
  color: var(--clr-accent);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: var(--fs-h1);
  margin-bottom: 2.4rem;
}

h2 {
  font-size: var(--fs-h2);
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: var(--fs-h3);
  font-weight: 600;
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
}

.preamble {
  font-family: "Lato", sans-serif;
  font-size: var(--fs-preamble);
  margin-bottom: 3.2rem;
}

p {
  margin-bottom: 1.6rem;
}

a {
  color: var(--clr-accent);
}

li {
  margin-bottom: 0.8rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

main.container {
  margin-top: 6.4rem;
  margin-bottom: 6.4rem;
}

@media screen and (min-width: 600px) {
  .column {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media screen and (min-width: 1000px) {
  .container--columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container--columns .column {
    padding-right: 0;
  }
  .container--columns .column:not(:first-child) {
    padding-left: 0;
    margin-left: 3.2rem;
  }
}

.article-cover {
  position: relative;
  left: -10vw;
  width: calc(100% + 10vw);
  max-width: unset;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 3.2rem;
}

.article-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.article-info span {
  display: block;
  margin-bottom: 0.8rem;
}

.article-info__key {
  font-weight: 500;
}

.breadcrumb ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumb li {
  margin-bottom: 0;
}

.breadcrumb li:not(:last-child) {
  margin-right: 0.8rem;
}

.breadcrumb li:not(:last-child)::after {
  content: ">";
  color: var(--clr-grey-8);
  margin-left: 0.5rem;
}

.breadcrumb__link {
  color: var(--clr-grey-8);
  text-decoration: none;
}

.contact-form__flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-form__flex-wrapper .contact-form__field-wrapper {
  width: 100%;
}

.contact-form__flex-wrapper .contact-form__field-wrapper:not(:last-child) {
  margin-right: 1.6rem;
}

.contact-form label {
  display: block;
  font-size: var(--fs-small-text);
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  background: var(--clr-grey-1);
  color: var(--clr-body-text);
  border: 1px solid var(--clr-grey-5);
  border-radius: 0;
  padding: 0.8rem;
  margin-bottom: 1.6rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: var(--clr-accent);
}

.contact-form textarea {
  min-height: 13rem;
  resize: vertical;
}

.contact-form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--clr-accent);
  color: var(--clr-background);
  border: none;
  border-radius: 0;
  font-weight: 500;
  padding: 0.8rem 2.4rem;
  margin-top: 2.4rem;
  margin-bottom: 0;
  cursor: pointer;
}

.contact-form__submit::after {
  display: block;
  content: "arrow_forward";
  font-family: "Material Icons";
  font-size: inherit;
  margin-left: 1.2rem;
}

.faq {
  background: var(--clr-grey-1);
  border: 1px solid transparent;
  list-style: none;
  padding: 1.6rem;
  margin-bottom: 1.6rem;
}

.faq:focus-within {
  border-color: var(--clr-accent);
}

.faq__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  outline: none;
  cursor: pointer;
}

.faq__question::-webkit-details-marker {
  display: none;
}

.faq__question::after {
  content: "expand_more";
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  font-family: "Material Icons";
  font-size: inherit;
  margin-left: 0.8rem;
}

.faq__answer {
  margin-top: 1.6rem;
}

.faq[open] .faq__question {
  color: var(--clr-accent);
  font-weight: 500;
}

.faq[open] .faq__question::after {
  -webkit-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
}

.footer {
  background: var(--clr-grey-1);
  font-weight: 400;
  padding: 3.2rem 0;
}

.footer__text {
  width: 100%;
}

.footer__wordmark {
  font-size: var(--fs-wordmark);
  margin-bottom: 0.8rem;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 3.2rem;
}

.footer__column {
  width: 100%;
}

.footer__link {
  display: block;
  color: var(--clr-body-text);
  line-height: 1;
}

.footer__link:not(:last-child) {
  margin-bottom: 1.2rem;
}

@media screen and (min-width: 600px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10vw;
  }
  .footer__links {
    margin-top: 0;
  }
  .footer__column {
    width: unset;
  }
}

@media screen and (min-width: 1000px) {
  .footer__wrapper {
    margin-right: 33.2rem;
  }
}

.navbar {
  background: var(--clr-grey-1);
  font-weight: 400;
  padding: 2.4rem 0;
}

.navbar .container {
  padding: 0;
}

.navbar__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.6rem;
}

.navbar__wordmark {
  color: var(--clr-accent);
  font-family: "Montserrat", sans-serif;
  font-size: var(--fs-wordmark);
  font-weight: 700;
  margin-left: 1.2rem;
}

.navbar__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: auto hidden;
  max-width: 100%;
  padding: 0 16px;
  margin-top: 0.4rem;
  margin-bottom: 1.6rem;
}

.navbar__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  color: var(--clr-body-text);
  line-height: 1;
  text-decoration: none;
}

.navbar__link:not(:last-child) {
  margin-right: 2.4rem;
}

.navbar__link--active {
  color: var(--clr-accent);
  font-weight: 500;
  border-bottom: 2px solid currentColor;
}

.navbar__search {
  position: relative;
  width: calc(100% - 32px);
  border-radius: 1000px;
  padding: 0.4rem 0;
}

.navbar__search-input {
  width: 100%;
  background: var(--clr-background);
  color: var(--clr-body-text);
  border-radius: 1000px;
  border: 1px solid var(--clr-grey-5);
  padding: 0.4rem 1.6rem;
}

.navbar__search-input:focus {
  outline: none;
  border-color: var(--clr-accent);
}

.navbar__search-input:not(:placeholder-shown) + .navbar__search-placeholder {
  display: none;
}

.navbar__search-placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  line-height: 1;
}

.navbar__search-placeholder .material-icons {
  margin-right: 0.4rem;
}

@media screen and (min-width: 900px) {
  .navbar .container {
    padding: 0 16px;
  }
  .navbar__top {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .navbar__bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar__links {
    padding: 0;
    margin: 0;
  }
  .navbar__search {
    width: 30rem;
  }
}

.related {
  background: var(--clr-grey-1);
  padding: 1.6rem;
  margin-top: 3.2rem;
}

.related h3 {
  margin-top: 0;
}

.related ul {
  padding-left: 0;
  margin: 0;
}

.related li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.related li::before {
  content: "link";
  font-family: "Material Icons";
  font-size: inherit;
  margin-right: 0.8rem;
}

@media screen and (min-width: 1000px) {
  .related {
    position: -webkit-sticky;
    position: sticky;
    top: 3.2rem;
    width: 30rem;
    margin-top: 0;
  }
}

.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--clr-grey-1);
  margin: 3.2rem 0;
  padding: 2.4rem;
}

.share h3 {
  margin: 0;
}

.share__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.share__link {
  color: var(--clr-body-text);
  text-decoration: none;
}

.share__link:not(:last-child) {
  margin-right: 1.6rem;
}

.share__link .material-icons {
  display: block;
}
/*# sourceMappingURL=main.css.map */