.navbar {
  background: var(--clr-grey-1);
  font-weight: 400;
  padding: 2.4rem 0;
  .container {
    padding: 0;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.6rem;
  }
  &__logo {
    color: var(--clr-accent);
  }
  &__wordmark {
    color: var(--clr-accent);
    font-family: "Montserrat", sans-serif;
    font-size: var(--fs-wordmark);
    font-weight: 700;
    margin-left: 1.2rem;
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__links {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: auto hidden;
    max-width: 100%;
    padding: 0 16px;
    margin-top: 0.4rem;
    margin-bottom: 1.6rem;
  }
  &__link {
    flex: 0 0 auto;
    color: var(--clr-body-text);
    line-height: 1;
    text-decoration: none;
    &:not(:last-child) {
      margin-right: 2.4rem;
    }
    &--active {
      color: var(--clr-accent);
      font-weight: 500;
      border-bottom: 2px solid currentColor;
    }
  }
  &__search {
    position: relative;
    width: calc(100% - 32px);
    border-radius: 1000px;
    padding: 0.4rem 0;
    &-input {
      width: 100%;
      background: var(--clr-background);
      color: var(--clr-body-text);
      border-radius: 1000px;
      border: 1px solid var(--clr-grey-5);
      padding: 0.4rem 1.6rem;
      &:focus {
        outline: none;
        border-color: var(--clr-accent);
      }
      &:not(:placeholder-shown) + .navbar__search-placeholder {
        display: none;
      }
    }
  }
  &__search-placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    pointer-events: none;
    line-height: 1;
    .material-icons {
      margin-right: 0.4rem;
    }
  }
}

@media screen and (min-width: 900px) {
  .navbar {
    .container {
      padding: 0 16px;
    }
    &__top {
      justify-content: start;
    }
    &__bottom {
      flex-direction: row;
      justify-content: space-between;
    }
    &__links {
      padding: 0;
      margin: 0;
    }
    &__search {
      width: 30rem;
    }
  }
}
